# .gitignore for social media integration project

.DS_Store

# Python cache
__pycache__/

# Virtual environment
venv/

# Environment variables
.env

# Data
dataset.zip
feedback.json

# Ignore all common image files
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2
*.jxr
*.hdp
*.wdp
*.gif
*.raw
*.webp
*.png
*.apng
*.mng
*.tiff
*.tif
*.svg
*.svgz
*.pdf
*.xbm
*.bmp
*.dib
*.ico
*.3dm
*.max
